@import './buttons.scss';

[type=text],
[type=email],
[type=password],
[type=number],
select,
textarea {
  background: #FDFDFD;
  border: pxToEm(1) solid rgba(137, 146, 169, 0.2);
  border-radius: pxToEm(16);
  padding: pxToEm(14.5) pxToEm(24);
  font-size: pxToEm(16);
  line-height: pxToEm(16);

  &:focus {
    background: #f4f4f4;
    outline: none;
  }
}

textarea {
  resize: none;
  height: pxToEm(119);
}

.checkbox {
  width: 22px;
  height: 22px;
  background: #F4F5F7;
  border: 2px solid #C4C8D4;
  border-radius: 6px;
  svg {
    display:none;
  }
}

[type=checkbox] {
  position:absolute;
  opacity:0;
}

[type=checkbox]:not(:checked) {
  &:focus {
    &+ .checkbox {
      background: #e4e4e4;
      border-color: #8a8a8a;
    }
  }
}

[type=checkbox]:checked {
    &+ .checkbox {
      background:#3B72FF;
      border-color:#3B72FF;
      display:flex;
      align-items:center;
      justify-content: center;

      svg {
        display:initial;
      }
    }

    &:focus + .checkbox {
      background:#3365e4;
      border-color:#2c63ed;
    }
}

.toggle {
  width: 48px;
  height: 26px;

  background: #C4C8D4;
  border-radius: 33px;
  padding:5px;
  box-sizing:border-box;

  .circle {
    width: 16px;
    height: 16px;

    background: #FFFFFF;
    border-radius:50%;
    transition: margin-left 0.5s;
  }
}

[type=checkbox]:not(:checked) {
  &:focus {
    &+ .toggle {
      background: rgb(212, 212, 212);
    }
  }
}

[type=checkbox]:checked {
    &+ .toggle {
      background:#3B72FF;
      .circle {
        margin-left: 22px;
        transition: margin-left 0.5s;
      }
    }

    &:focus + .toggle {
      background:#3365e4;
    }
}
